body {
    background: #fff;
    margin: auto;
    padding: 0;
}

img {
    100%
}

#wrapper {
    display: inline-block;
    background: #4d4d4d;
    width: 100%;
    height: 5%;
    margin: 5% 0 0 0;
    padding: 0;
}
 #logo_principal{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 30px;
 }
nav {
    float: right;
    padding-right: 3%;
    margin-top: 1%;
    height: 100%;
    width: 60%;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding-right: 8%;
    padding-left: 8%;
    color: #fff;
    margin: 0;
    cursor: pointer;
    height: 100%;
    text-align: center;
}

nav li:hover {
    background: #fff;
    color: #4d4d4d;
}

nav img{
    float: left;
}
#banner {
    margin: 0;
    margin-top: 100px;
    background: #fff;
    /*temporal*/
    width: 100px;
    height: auto;
    padding: 0;
}


/********************INFO EMPRESA*******************/

#empresa {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
}
#empresa h1{
    text-align: center;
}
#about-fotos {
    width: 50%;
    height: 50%;
    margin: 0;
    padding-left: 5%;
    background: #fff;
    float: left;
    max-width: 400px;
}

#about-info {
    width: 90%;
    
    margin: 0;
    padding-top: 0;
    padding-right: 5%;
    float: right;
    text-align: justify;
}

#img-about {
    width: 100%;
    height: 60%;
    object-fit: fill;
}


/**********************CARRUSEL*********************/

#carrusel {
    display: block;
    margin: auto;
    padding: 0;
    background: #fff;
    object-fit: fill;
}

#img-carrusel {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


/*****************PROYECTOS*****************/

#proyectos {
    width: 100%;
    height: auto;
    display: inline-block;
    min-height: 300px;
    text-align: center;
}

#proyectos h1 {
    font-size: 24px;
    padding-top: 35px;
}

#proyectos ul {
    margin: 0;
    padding: 0;
}

#proyectos li {
    display: inline-block;
    padding: 30px;
    text-align: center;
    list-style-type: none;
    width: 80%;
    padding: 40px;
    text-align: center;
}

#proyectos li p{
    margin-top: 20px;
    text-align: justify;
}

#proyectos-img {
    border-radius: 150px;
    width: 200px;
    height: 200px;
    object-fit: fill;
}


/*****************GALERIA**********************/

#gallery {
    width: 100%;
    height: auto;
    background: #aaa;
    margin: 0;
    padding: 0;
    text-align: center;
}

.gal-item {
    padding-top: 25px;
}


/*******FOOTER**********************/

#footer {
    background: #4d4d4d;
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 40px;
    padding-left: 20px;
}

#link_footer{
    margin-top: 30px;
}
#footer p {

    margin-bottom: 20px;
    padding-left: 40px;
    color: #fff;
    
}

#logo_blanco{
    width: 170px;
    height: 120px;
    padding-left: 40px;
}

#iconos{
    margin-bottom: 0;
    width: 80%;
    padding-bottom: 0;
    padding-top: 15%;
}  

#iconos img{
    width: 57%;
    height: 7%;
}

#social {
    float: right;
    margin: 0;
    padding-right: 75px;
    padding-bottom: 30px;
}

#social ul {
    margin: 0;
    padding: 0;
}

#social li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
}

#social img {
    width: 30px;
    height: 30px;
}
